li:first-child {
  font-weight: bold;
  color: aquamarine;
}

a:active {
  background-color: green;
  font-style: italic;
  border-bottom: 2px dashed black;
  color: aquamarine;
}
aside header, h3, p {
    color: blueviolet;
}

#copyright {
  color: red;
} 

.copyright {
  color: blue;
} 

 .text {
  color: yellow !important;
} 

 footer p {
  color: green ;
} 

/* * {
    border: 2px solid red;
    color: green;
} */